<ion-content class="ion-padding login-content">
  
  <div class="logo-container">
    <img src="assets/images/logo_questlog.png" alt="QuestLog Logo" class="app-logo">
  </div>

  <div class="form-container">
    
    <ion-input
      label="Usuario"
      label-placement="stacked"    
      [(ngModel)]="user.usuario"
      minlength="3"
      maxlength="8"
      counter="true"
      placeholder="Ingresa tu usuario"
      autocomplete="off"
      required="true">
    </ion-input>

    <ion-input
      class="ion-margin-top"
      label="Password"
      label-placement="stacked"    
      [(ngModel)]="user.password"
      type="password"
      minlength="4"
      maxlength="4"
      placeholder="Ingresa clave numérica de 4 dígitos"
      required="true">
    </ion-input>

    <ion-button 
      class="ion-margin-top" 
      expand="block" 
      (click)="ingresar()"
      color="primary">
      Ingresar
    </ion-button>

    <ion-button
      class="ion-margin-top"
      expand="block"
      fill="clear"
      color="primary">
      Crea tu cuenta gratis
    </ion-button>
  </div>

</ion-content>