<ion-header>
  <ion-toolbar>
    <ion-title #tituloAnimado>
      QuestLog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>¡Bienvenido, {{ usuarioRecibido }}!</h2>
  <p>¿Qué quieres hacer hoy?</p>

  <ion-button expand="block" [routerLink]="['/agregar-juego']">
    <ion-icon slot="start" name="add-circle"></ion-icon>
    Agregar Nuevo Juego
  </ion-button>

  <ion-button expand="block" [routerLink]="['/mi-backlog']">
    <ion-icon slot="start" name="list"></ion-icon>
    Ver Mi Pila de Juegos
  </ion-button>

  <ion-button expand="block" [routerLink]="['/perfil']">
    <ion-icon slot="start" name="person"></ion-icon>
    Ver Mi Perfil
  </ion-button>

  <ion-button fill="clear" expand="block" [routerLink]="['/login']" class="ion-margin-top">
    Cerrar Sesión
  </ion-button>

</ion-content>